@mixin horizontalCenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absoluteCenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hiddenAnimationRightIn {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0.7) translateX(25%);
  transition: all 1s;
}

@mixin hiddenAnimationBottomIn {
  opacity: 0;
  filter: blur(5px);
  transform: scale(1) translateY(50%);
  transition: all 1s;
}

@mixin visibleAnimation {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1) translate(0%);
  transition: all 1s;
}

// @mixin visibleAnimationBottomIn {
//   opacity: 1;
//   filter: blur(0px);
//   transform: scale(1) translateX(0%);
//   transition: all 1s;
// }

@mixin hoverEffects {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  color: $color-grey-light-1;
  fill: $color-grey-light-1;
  box-shadow: $shadow-button-dark;
}

@mixin hoverEffectsIcon {
  // fill: "url(linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab))";
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  color: $color-grey-light-1;
  fill: $color-grey-light-1;
  // box-shadow: $shadow-button-dark;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
