@import "../../AppVariables.scss";
@import "../../Mixins.scss";
.skills {
  margin-top: 20rem;
  width: 100vw;

  &__container {
    background-color: $color-grey-dark-1;
    padding: 6rem 3rem;
    width: 80%;
    border-radius: 2rem;
    align-items: center;
    @include absoluteCenter();
  }

  // &__slider {
  //   margin: 0 auto;
  //   position: relative;
  // }

  &__item {
    // flex: 0 0 20%;
    // width: 20%;
    @include absoluteCenter();
    // @include verticalCenter() // padding: 10px;
  }
}
