@import "../../AppVariables.scss";
@import "../../Mixins.scss";
.skills {
  width: 100vw;
  margin-bottom: 10rem;
  opacity: 0.5;
  transition: all 0.3s linear;
  &__visible {
    opacity: 1;
  }

  &__heading {
    @include horizontalCenter;
    margin-bottom: 5rem;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }

  &__container {
    background-color: $color-grey-dark-1;
    padding: 6rem 3rem;
    width: 80%;
    border-radius: 2rem;
    align-items: center;
    @include horizontalCenter();
  }

  &__item {
    @include absoluteCenter();
  }
}
