@import "../../AppVariables.scss";
@import "../../Mixins.scss";
.skills {
  margin-top: 10rem;
  width: 100vw;

  &__heading {
    @include horizontalCenter;
    margin-bottom: 5rem;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }

  &__container {
    background-color: $color-grey-dark-1;
    padding: 6rem 3rem;
    width: 80%;
    border-radius: 2rem;
    align-items: center;
    @include horizontalCenter();
  }

  &__item {
    @include absoluteCenter();
  }
}
