@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import "./AppVariables.scss";
@import "./Mixins.scss";
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Centra", "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

body {
  box-sizing: border-box;
  margin: auto;
  //background-color: $color-grey-light-2;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-grey-dark-1;
  color: $color-text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

.app {
  &__container {
    &::-webkit-scrollbar {
      display: none;
    }
    background-image: url("./assets/img/tmp.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;

    &__body {
      @include horizontalCenter();
      max-width: 170rem;
    }
    &__TEST_DIV {
      min-height: 100vh;
    }
  }
}
