@mixin horizontalCenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absoluteCenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hiddenAnimationRightIn {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0.7) translateX(25%);
  transition: all 1s;
}

@mixin hiddenAnimationBottomIn {
  opacity: 0;
  filter: blur(5px);
  transform: scale(1) translateY(50%);
  transition: all 1s;
}

@mixin visibleAnimation {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1) translate(0%);
  transition: all 1s;
}

// @mixin visibleAnimationBottomIn {
//   opacity: 1;
//   filter: blur(0px);
//   transform: scale(1) translateX(0%);
//   transition: all 1s;
// }
@mixin hoverEffectBackgroundGradient {
  background: radial-gradient(
    circle at 3.9% 11.3%,
    #ed7899 0%,
    #f0ca9e 71.6%,
    // rgb(249, 238, 221) 99.8%
  );
}

@mixin hoverEffects {
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  @include hoverEffectBackgroundGradient;
  background-size: 400% 400%;
  animation: gradient 3s ease-in-out infinite;
  // color: #ffffff;
  fill: #ffffff;
  box-shadow: $shadow-button-dark;
}

@mixin hoverEffectsLink {
  @include hoverEffectText();
  transform: scale(1.2);
}

@mixin gradientEffectText {
  background: linear-gradient(to right, #ed7899, #f0ca9e, #ec537f, #ed7899);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin hoverEffectText {
  @include gradientEffectText();
  background-size: 200%;
  animation: gradientText 3s linear infinite;
}

@mixin hoverEffectsBackgroundFill {
  background: linear-gradient(to top left, #392657 0%, #392657 80%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientText {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
  // }
  // 100% {
  //   background-position: 0% center;
  // }
}

@mixin active {
}
