@mixin horizontalCenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absoluteCenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hiddenAnimationRightIn {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0.7) translateX(25%);
  transition: all 1s;
}

@mixin hiddenAnimationBottomIn {
  opacity: 0;
  filter: blur(5px);
  transform: scale(1) translateY(50%);
  transition: all 1s;
}

@mixin visibleAnimation {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1) translate(0%);
  transition: all 1s;
}

// @mixin visibleAnimationBottomIn {
//   opacity: 1;
//   filter: blur(0px);
//   transform: scale(1) translateX(0%);
//   transition: all 1s;
// }
@mixin hoverEffectBackgroundGradient {
  background: radial-gradient(
    circle at 3.9% 11.3%,
    #ed7899 0%,
    #f0ca9e 71.6%,
    // rgb(249, 238, 221) 99.8%
  );
}

@mixin hoverEffects {
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  @include hoverEffectBackgroundGradient;
  background-size: 400% 400%;
  animation: gradient 3s ease-in-out infinite;
  // color: #ffffff;
  fill: #ffffff;
  box-shadow: $shadow-button-dark;
}

@mixin hoverEffectsLink {
  @include hoverEffectText();
  transform: scale(1.2);
}
@mixin hoverEffectsLink2 {
  @include gradientEffectText2();
  background-size: 200%;
  animation: gradientText 3s linear infinite;
  transform: scale(1.2);
}

@mixin gradientEffectText {
  background: linear-gradient(to right, #ed7899, #f0ca9e, #ec537f, #ed7899);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradientEffectText2 {
  background: linear-gradient(
    to right,
    $color-textGradient-purple,
    $color-textGradient-voilet,
    $color-textGradient-voilet-light,
    $color-textGradient-purple
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@mixin hoverEffectText {
  @include gradientEffectText();
  background-size: 200%;
  animation: gradientText 3s linear infinite;
}

@mixin hoverEffectsBackgroundFill {
  background: linear-gradient(to top left, #231836 0%, #392657 80%);
}

@mixin hoverEffectsButton {
  background-color: transparent;
  transition: $transition0_3;
  position: relative;
  &::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: $color-white;
    left: 0;
    right: 0;
    z-index: -1;
    transition: $transition0_3;
  }

  &:hover {
    color: $color-grey-dark-1;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientText {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
  // }
  // 100% {
  //   background-position: 0% center;
  // }
}

// **************************** Media Queries related mixins **************************** //

/**
  Having these mixins to declare the media queries is a good practice.
  This is because, in the future, if we want to change any of the 
  pixels, then we can just change that here in the mixins.

  As of 20 Jun 2022, these break points make the most sense for the devices
  currently in the market
  |-------------------|-------------------------|
  | Pixel Range       | Device                  |
  |-------------------|-------------------------|
  | 0px - 600px       | Phone                   |
  | 600px - 900px     | Tablet Portrait Mode    |
  | 900px - 1200px    | Tablet Landscape Mode   |   
  | 1200px - 1800px   | Normal Styles Apply     |
  | 1800px+           | Tablet Portrait Mode    |
  |-------------------|-------------------------|
  
  The media query manager below is using ems instead of rems, or px.
  This is purely from experience. It is found that for media queries, it is 
  better to use ems instead of rems
  If the user changes the browser font size, then ems tend to respond better.
  For media queries in particular, rems do not work as expected. ems tend to 
  work better

  1em = 16px (16 px is the default font-size in most browsers

*/

@mixin respond($breakpoint) {
  /// This is a media query manager
  ///
  /// @param {string} $breakpoint
  ///   Argument choices are
  ///   - phone
  ///   - tab-port
  ///   - tab-land
  ///   - big-desktop
  ///

  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      // 600px/16 = 37.5em
      /**
        @content - This is how we can pass a block of code into the mixin
      */
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      // 900px/16 = 56.25em
      @content;
    }
  }
  @if $breakpoint==tab-land {
    @media (max-width: 75em) {
      // 1200px/16 = 75em
      @content;
    }
  }
  @if $breakpoint==big-desktop {
    @media (min-width: 112.5em) {
      // 1800px/16 = 112.5em
      @content;
    }
  }
}
