@import "../../AppVariables.scss";
.banner {
  padding: 26rem 0 10rem 0;
  width: 100vw;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
  }

  &__about-me {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    // width: 100%;
    gap: 2rem;
    width: 35%;

    &__welcome {
      font-weight: 70rem;
      letter-spacing: 0.1rem;
      background: -webkit-linear-gradient(
        -90deg,
        $color-primary-light-1,
        $color-primary-light-2
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: fit-content;
      // border: 1px solid rgba(255, 255, 255, 0.5);
      font-size: 3rem;
    }

    &__heading {
      padding: 1rem 0;
    }
    &__description {
      padding: 1rem 0;
    }
    &__catch-up-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 35%;
      &__right-arrow {
        width: 15%;
        // height: 5%;
      }
    }
  }

  &__floating-chirag {
    width: 40%;
    img {
      width: 100%;
    }
  }
}
