@import "../../AppVariables.scss";
@import "../../Mixins.scss";

.banner {
  padding: 26rem 0 10rem 0;
  width: 100vw;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
  }

  &__about-me {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    gap: 2rem;
    width: 35%;

    &__welcome {
      font-weight: 70rem;
      letter-spacing: 0.1rem;
      @include hoverEffectText();
      animation-duration: 5s;
      width: fit-content;
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    &__heading {
      padding: 1rem 0;
      font-size: 4rem;
      letter-spacing: 0.08rem;
      height: 13rem;
      // line-height: 3rem;
    }
    &__description {
      padding: 1rem 0;
      font-size: 1.8rem;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      width: 96%;
    }
    &__catch-up-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 40%;
      padding: 1rem 1rem;
      font-weight: 700;
      font-size: 1.5rem;
      border: 1px solid #fff;
      letter-spacing: 0.8px;
      &__right-arrow {
        fill: white;
        width: 3rem;
      }
      &:hover {
        @include hoverEffects;
      }
    }
  }

  &__floating-chirag {
    @mixin smallIcons {
      width: 5%;
      position: relative;
    }
    width: 40%;
    &__original {
      width: 100%;
      position: relative;
      padding: 1rem 1rem;
      transition: $transition0_3;
      &:hover {
        transform: scale(1.1);
        border: 1rem solid rgba(255, 255, 255, 0.575);
        border-radius: 2rem;
        @include hoverEffectsBackgroundFill();
      }
    }

    //   &__other {
    //     // @include smallIcons;
    //     width: 100%;
    //   }
    //   &__heart {
    //     @include smallIcons;
    //     top: -32rem;
    //     left: 21rem;
    //     animation-name: animation-floating-chirag-heart;
    //     animation-duration: 10;
    //     animation-iteration-count: infinite;
    //     @keyframes animation-floating-chirag-heart {
    //       0% {
    //         transform: scale(0);
    //       }
    //       100% {
    //         transform: scale(1.5);
    //       }
    //     }
    //   }
    //   &__music {
    //     @include smallIcons;
    //     top: -44rem;
    //     left: 41rem;
    //   }
    //   &__chat-bubble {
    //     @include smallIcons;
    //     top: -37rem;
    //     left: 15rem;
    //     width: 9%;
    //   }
    //   &__chat-with-diamond {
    //     @include smallIcons;
    //     top: -32rem;
    //     left: 29rem;
    //   }
  }
}

// @keyframes imgUpDown {
//   0% {
//     transform: translateY(-20px);
//   }
//   50% {
//     transform: translateY(20px);
//   }
//   100% {
//     transform: translateY(-20rem);
//   }
// }
// @keyframes imgUpDown {
//   0% {
//     top: -2rem;
//   }
//   50% {
//     top: 2rem;
//   }
//   100% {
//     top: -2rem;
//   }
// }
